body {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

:root {
    --primary: rgba(86, 145, 255, 0.8);
}

nav ul {
    background-color: var(--primary);
    display: flex;
    margin: 0;
    padding: 1em 6em;
}

nav ul li {
    display: flex;
    flex-direction: row;
    margin-right: 1.5em;
}

.nav-menu {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    padding: 1em;
}

.left {
    flex-grow: 1;
    padding-left: 10em;
}

.right {}